<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Спасибо за ваш заказ!</title>
</head>
<body>
<header>
    <img src="cid:imageId" alt="Логотип T-Delivery"/>
</header>
<h1>Спасибо за ваш заказ!</h1>
<div class="order-details">
    <p>Ваш заказ, <span class="highlight">${name}</span>, будет доставлен по адресу: <span class="highlight">${deliveryAddress}</span>.</p>
    <p>Комментарий: <span class="highlight">${comment}</span></p>
    <p>Итоговая сумма: <span class="highlight">${totalAmount} тг.</span></p>
    <p>Время приготовления: ${timeOfCooking} минут.</p>
    <p>${orderItems}</p>
    <p>Мы уведомим вас, как только он будет готов.</p>
    <div class="footer">
        <p>С уважением,<br>Ваш T-Delivery!</p>
    </div>
</div>
<footer>
    <p style="font-size: 12px; color: #888;">
        Это сообщение отправлено автоматически, пожалуйста, не отвечайте на него.
    </p>
</footer>
</body>
</html>
