<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заказ готов</title>
</head>
<body>
<p>Ваш заказ готов, и мы сейчас ищем курьера, который сможет доставить его вам.</p>
<p>Как только мы найдем курьера, мы сразу сообщим вам.</p>
<p><strong>Адрес доставки:</strong> ${deliveryAddress}</p>
<p><strong>Сумма заказа:</strong> ${totalAmount} тг</p>
<p>Спасибо, что выбрали нас!</p>
<footer>
    <p style="font-size: 12px; color: #888;">
        Это сообщение отправлено автоматически, пожалуйста, не отвечайте на него.
    </p>
</footer>
</body>
</html>
